div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}

.circlepumpkin {
  fill: yellow;
    stroke: orange;
    stroke-width: 2; 
}
